
left {
    float: left;
    margin-right: 2%;
    text-align: right;
    width: 48%;
}

right {
    float: right;
    margin-left: 2%;
    text-align: left;
    width: 48%;
}
one {
    float: left;
    margin-left: 2%;
    text-align: center;
    width: 98%;
}

img.iconButton {
    cursor: pointer;
    margin: 5% 0 0;
    width: 100%;
}
.fullHeight{
    height:100%;
}

.give_me_top_space{
    margin-top:20px;
}

#punchName{
    height:30px;
}